<h1>Welcome to PupCare</h1>
<p>The best place to take your pups</p>
<div id="home_pic">
  <img src="http://buzzsharer.com/wp-content/uploads/2015/07/corgi-puppies.jpg" alt="corgies running">
</div>
<%= link_to "Learn more about us", pages_about_path %>

<%= link_to "View Our Dogs", dogs_path %>